
<h2>&equiv; A brief explanation of development strategies</h2>

<p>
There are a few development strategies coded here.
</p>

<ul>
	<li>Hard-coded, compiled and template driven.
	<li>CSharp Razor coded, automated with the assistance of a tool.
	<li><strong>Runtime “Named Pipe” &amp; “Web-Socket” service. (favored)</strong>
	<li><strong>CSharp ASPNET MVC/Razor Web-Application (service)</strong>
	<li>Windows SYSTEM service using Named Pipe, and/or Sockets for JSON queries 
	<li>WinForms Image Generator applciation&mdash;utility. 
</ul>