<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.web>
		<!--<customErrors defaultRedirect="GenericError.htm"
      mode="RemoteOnly" xdt:Transform="Replace">
      <error statusCode="500" redirect="InternalError.htm"/>
    </customErrors>-->
	
	</system.web>
	<system.webServer>
		<!--<staticContent>
			<remove fileExtension=".woff" />
			<remove fileExtension=".js" />
			<remove fileExtension=".css" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
			<mimeMap fileExtension=".js" mimeType="application/x-javascript" />
			<mimeMap fileExtension=".css" mimeType="text/css" />
		</staticContent>-->
		<!--<security>
			<authentication>
				<windowsAuthentication enabled="true" />
			</authentication>
		</security>-->
	</system.webServer>
</configuration>
