@using CalibreNetBlazer.Data
@inject WeatherForecastService ForecastService
@inject WeatherForecastService GetBookInfoService
@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<div>
  <p>
	So we need to do stuff
  </p>
  <p>
	Each book database being shown needs
  </p>
</div>

@if (books == null)
{
    <p><em>Loading Books...</em></p>
}
else
{
    <table class="table">
      <thead>
        <tr>
          <th>title</th>
          <th>author</th>
          <th>type</th>
          <th>path</th>
        </tr>
      </thead>
      <thead>@foreach(var book in books) {
        <tr>
          <td>@book.Title</td>
          <td>@book.Author</td>
              <td>@string.Join(", ", @book.Format.ToArray())</td>
          @*<td><img src=""</td>*@
        </tr>
      }</thead>
    </table>
}
@code {
    private List<NodeRow> books;
    protected override async Task OnInitializedAsync()
    {
        books = await ForecastService.GetBookInfoService();
    }
}